body {
    background-color: brown;
}

header{
    background-color: orange;
    height: 200px;
    display: flex;
    align-items: center;
    padding-left: 50px;    
}

h1{
    color: black;
}

main{
    display:flex;
    padding:40px;
}

#inhoud{
    width: 45%;
    margin-left:40%;
    background-color: pink; 
}

article {
    max-width: 100%;
    margin-bottom: 40px;
    background-color: pink;
    border: 3px solid white;
}

.post h2 a {
    color: orange;
}

footer{
    background-color: orange;
    height: 100px;
}